/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contêiner geral para ambas as telas */
.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para os inputs */
input[type="text"],
input[type="email"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo específico para a exibição do QR Code */
#qrcodeDisplay {
    margin-top: 15px;
}

#qrStringOutput {    
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 0.9rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}

/* Estilo para os dados exibidos na segunda tela */
#displayOutput {
    white-space: pre-line;
    font-size: 1.1rem;
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
}

